<%- partial('_partials/head') %>
<body>
  <input type="checkbox" id="aside-show" name="aside-show">
  <%- partial('_partials/header') %>
  <div ng-view class="core-view">
    
  </div>
  <%- partial('_partials/foot') %>
  
  <%- partial('_partials/sidebar') %>

</body>
</html>