aside {
  @include transition(all .75s ease);
  @include user-select(none);
  background-color: $black;
  bottom: 0;
  height: 100%;
  max-width: 350px;
  position: fixed;
  right: -100%;
  top: 0;
  width: 100%;
  z-index: 9999;
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    padding-right: 20px;
    text-align: right;
    
    &.active a {
      color: darken($white,50%);
      
      &:after {
        width: 110%;
      }
    }
  }
  
  a {
    @include transition(all .3s ease);
    color: $white;
    font-size: 3em;
    font-weight: 900;
    position: relative;
    text-decoration: none;
    
    &:hover {
      color: $red;
    }
    
    &:after {
      background-color: $red;
      bottom: 0;
      content: ' ';
      display: block;
      margin: auto;
      height: 10px;
      right: -10px;
      position: absolute;
      top: 0;
      width: 0;
    }
  }
}

#aside-show {
  display: none;
  
  &:checked ~ aside {
    right: 0;
  }
    
  &:checked ~ header{
    .nav-wrapper {
      @include transform(rotateZ(180deg));
    }
    
    .navigation {
      @extend %arrow;
    }
  }
}

#aside-close {
  cursor: pointer;
  left: 0;
  padding: 20px;
  position: absolute;
  top: 0;
  
  &:hover {
    i {
      color: $red;
    }
  }
  
  i {
    @include transition(all .3s ease);
    color: $white;
    font-size: 3em;
  }
}