<header>
 <div class="container">
    <span class="logo">
     <a href='#/'>
      <%- image_tag('img/logo.png') %>
      </a>
    </span>
    <span class="nav-wrapper">
      <label class="navigation" for="aside-show">
        <span class="navigation-button"></span>
      </label>
    </span>
  </div>
</header>