<aside nav-menu="active" sidebar="#aside-show">
 <span id="aside-close"><i class="fa fa-times-circle-o"></i></span>
  <ul>
    <li><a href="#/work">Work</a></li>
    <li><a href="#/services">Services</a></li>
    <li><a href="#/about">About</a></li>
    <li><a href="#/contact">Contact</a></li>
  </ul>
</aside>